<ion-header>
  <ion-toolbar color="danger">
    <ion-title>
      Pokedex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item (click)="UsarPoke()">
      <ion-thumbnail>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/001.png">
      </ion-thumbnail>
      <div class="div">
        <div class="info">
          <ion-label>Bulbasaur</ion-label>
          <ion-badge color="nubers" class="num">001</ion-badge>
        </div>
        <div class="tipos">
          <ion-badge color="grass">Grass</ion-badge>
          <ion-badge color="poison">Poison</ion-badge>
        </div>
      </div>
    </ion-item>
    <ion-item (click)="UsarPoke()">
      <ion-thumbnail>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/004.png">
      </ion-thumbnail>
      <div class="div">
        <div class="info">
          <ion-label>Charmander</ion-label>
          <ion-badge color="nubers" class="num">004</ion-badge>
        </div>
        <div class="tipos">
          <ion-badge color="fire">Fire</ion-badge>
        </div>
      </div>
    </ion-item>
    <ion-item (click)="UsarPoke()">
      <ion-thumbnail>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/007.png">
      </ion-thumbnail>
      <div class="div">
        <div class="info">
          <ion-label>Squitle</ion-label>
          <ion-badge color="nubers" class="num">007</ion-badge>
        </div>
        <div class="tipos">
          <ion-badge color="water">Water</ion-badge>
        </div>
      </div>
    </ion-item>
    <ion-item (click)="UsarPoke()">
      <ion-thumbnail>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/025.png">
      </ion-thumbnail>
      <div class="div">
        <div class="info">
          <ion-label>Pikachu</ion-label>
          <ion-badge class="num">025</ion-badge>
        </div>
        <div class="tipos">
          <ion-badge color="eletric">Eletric</ion-badge>
        </div>
      </div>
    </ion-item>
    <ion-item (click)="UsarPoke()">
      <ion-thumbnail>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/166.png">
      </ion-thumbnail>
      <div class="div">
        <div class="info">
          <ion-label>Ledian</ion-label>
          <ion-badge color="nubers" class="num">166</ion-badge>
        </div>
        <div class="tipos">
          <ion-badge color="bug">Bug</ion-badge>
          <ion-badge class="flying">Flying</ion-badge>
        </div>
      </div>
    </ion-item>
    <ion-item (click)="UsarPoke()">
      <ion-thumbnail>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/200.png">
      </ion-thumbnail>
      <div class="div">
        <div class="info">
          <ion-label>Misdreavus</ion-label>
          <ion-badge class="num">200</ion-badge>
        </div>
        <div class="tipos">
          <ion-badge color="ghost">Ghost</ion-badge>
        </div>
      </div>
    </ion-item>
    <ion-item (click)="UsarPoke()">
      <ion-thumbnail>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/523.png">
      </ion-thumbnail>
      <div class="div">
        <div class="info">
          <ion-label>Zebstrika</ion-label>
          <ion-badge color="nubers" class="num">523</ion-badge>
        </div>
        <div class="tipos">
          <ion-badge color="eletric">Eletric</ion-badge>
        </div>
      </div>
    </ion-item>
    <ion-item (click)="UsarPoke()">
      <ion-thumbnail>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/636.png">
      </ion-thumbnail>
      <div class="div">
        <div class="info">
          <ion-label>Larvesta</ion-label>
          <ion-badge color="nubers" class="num">636</ion-badge>
        </div>
        <div class="tipos">
          <ion-badge color="bug">Bug</ion-badge>
          <ion-badge class="fire">Fire</ion-badge>
        </div>
      </div>
    </ion-item>
    <ion-item (click)="UsarPoke()">
      <ion-thumbnail>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/702.png">
      </ion-thumbnail>
      <div class="div">
        <div class="info">
          <ion-label>Dedenne</ion-label>
          <ion-badge color="nubers" class="num">702</ion-badge>
        </div>
        <div class="tipos">
          <ion-badge color="eletric">Eletric</ion-badge>
          <ion-badge color="fairy">Fairy</ion-badge>
        </div>
      </div>
    </ion-item>
    <ion-item (click)="UsarPoke()">
      <ion-thumbnail>
        <img src="https://assets.pokemon.com/assets/cms2/img/pokedex/detail/719.png">
      </ion-thumbnail>
      <div class="div">
        <div class="info">
          <ion-label>Diancie</ion-label>
          <ion-badge color="nubers" class="num">719</ion-badge>
        </div>
        <div class="tipos">
          <ion-badge color="rock">Rock</ion-badge>
          <ion-badge color="fairy">Fairy</ion-badge>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>